.ui-autocomplete {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.lista {
    padding: 10px;
}

.passar {
    padding: 500px;
}

#w-5 {
    display: none;
}

.col {
    display: flex;
    flex-direction: column;
}

.vh-100 {
    height: 100vh;
}